body{
  margin: 0;
  padding: 0;
  font-family:  Roboto ;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #535353;
  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
body>*{
  padding:0 calc((100% - 1160px) / 2);
}
.header{
  background-color:#eeeeee;
  margin-bottom: 38px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;



}
.header .logo{
  width: 160px;
  height: 67px;
  display: flex;
  margin-left: 140px;
  margin: 0;
  padding: 0;
}
.main-navigation a {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
    text-decoration:none;
    text-transform: uppercase;

}

.main-navigation ul{
  width: 797px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: #000000;

}
.basket{
  font-size: 10,15px;
  font-weight: normal;
  line-height: 10,15px;
  color: #000000;
  display: inline;
  text-align: right;




}
 .header .first-title {
  font-size: 55px;
  font-weight: normal;
  line-height: 55px;
  color: #000000;
  text-align: center;

}
.select{
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;

}
.sort{
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 540px;

}
.menunav{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

}

.form{
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color:#283136;
  display: flex;
  flex-direction: column;
}
.button{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}


 .special ul {
  list-style: none;
}
.menu ul{
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #283136;
}
.discount{
font-size: 16px;
font-weight: normal;
line-height: 22px;
color:#444444;
}
.letfriend{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.social ul{
  list-style: none;
  width: 400px;
}



.catalog .goods {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

}
.catalog .notes{
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;

}
.catalog .red{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  text-decoration: none;
}

 .catalog .green{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00ca74;
  text-decoration: none;
 }


.catalog .yellow{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #efc849;
  text-decoration: none;
}
 .photos{
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}
.style{
  display: flex;
  justify-content: space-between;
}
.left-form-header{
  display:flex;
}
.main-catalog{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.catalog-form{
  width:260px;
}
.footer{
  display: flex;
  flex-wrap: wrap;
}
.catalog{
  width: 300px;
}

