body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 38px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50%;
  background-color: #eeeeee;
  min-height: 308px;
}
.header .logo{
  width: 160px;
  height: 67px;
  display: flex;
  margin-left: 140px;
  margin: 0;
  padding: 0;
}
.main-navigation a {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #000000;
    text-decoration:none;
    text-transform: uppercase;

}

.main-navigation ul{
  font-weight: 500px;
  margin-top: 26px;
  margin-left: 32px;
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #000000;

}
.basket{
  position: relative;
  font-weight: normal;
  color: #000000;
  display: inline;
  text-align: right;
  padding-left: 26px;
  padding-top: 27px;
  margin-left: 21px;
}
.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  width: 15px;
  height: 15px;
  margin-top: 22px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: ;
}
.basket:hover::before,
.basket:focus::before,
.basket:active::before {
  opacity: 1;
}
 .header .first-title {
  font-size: 55px;
  font-weight: normal;
  line-height: 55px;
  color: #000000;
  text-align: center;
  width: 100%;

}
.select{
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  width: 100%;

}
.sort{
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;


}
.menunav{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

}

.form{
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color:#283136;
  display: flex;
  flex-direction: column;
}
.button{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}


 .special ul {
  list-style: none;
}
.menu ul{
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #283136;
}
.discount{
font-size: 16px;
font-weight: normal;
line-height: 22px;
color:#444444;
}
.letfriend{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.social ul{
  list-style: none;
  width: 400px;
}



.catalog .goods {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

}
.catalog .notes{
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;

}
.catalog .red{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  text-decoration: none;
}

 .catalog .green{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00ca74;
  text-decoration: none;
 }


.catalog .yellow{
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #efc849;
  text-decoration: none;
}
 .photos{
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
}
.style{
  display: flex;
  justify-content: space-between;
}
}
.main-catalog{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.catalog-form{
  width:260px;
}
.footer{
  display: flex;
  flex-wrap: wrap;
}
.catalog{
  width: 300px;
}
.filter-item {
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls {
  font-size: 0;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  margin-left: 10px;
}
.max-price {
  text-align: right;
}
.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}
.form-action{
  position: fixed;

}

